@model LaMinka.Logica.Model.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FotoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FotoUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserAlta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUserAlta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserModif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUserModif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserBaja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUserBaja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaModif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>